<mat-table #productListTable [dataSource]="productListDataSource">
  <ng-container matColumnDef="generic_name">
    <mat-header-cell *matHeaderCellDef>Compound</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <app-jsme [elementId]="row.id"
                [width]="100"
                [height]="100"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                [molString]="row.compound.smiles"
      >
      </app-jsme>
      <a [href]="row.chembl_link"><button mat-button color="primary">{{row.compound.generic_name}}</button></a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="formula">
    <mat-header-cell *matHeaderCellDef>Formula</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.formula}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="mol_weight">
    <mat-header-cell *matHeaderCellDef>Mol Weight</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.mol_weight}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cas">
    <mat-header-cell *matHeaderCellDef>Cas</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.cas}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="alogp">
    <mat-header-cell *matHeaderCellDef>ALogP</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.alogp}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="hba">
    <mat-header-cell *matHeaderCellDef>HBA</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.hba}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="hbd">
    <mat-header-cell *matHeaderCellDef>HBD</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.hbd}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="rtb">
    <mat-header-cell *matHeaderCellDef>RTB</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.rtb}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="psa">
    <mat-header-cell *matHeaderCellDef>PSA</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.psa}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="drug_status">
    <mat-header-cell *matHeaderCellDef>Drug Status</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.drug_status}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="drugbank_id">
    <mat-header-cell *matHeaderCellDef>DrugBank ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.compound.drugbank_id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="uniprotinfo_set">
    <mat-header-cell *matHeaderCellDef>Target</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goUniprotByCid(row.id)">view</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [length]="pageMeta?.total_results"
              [pageSize]="pageMeta?.per_page"
              (page)="pageChange($event)"
></mat-paginator>
