<h5>Target Infomation:</h5>
<mat-table #uniprotByChemblIdTable [dataSource]="uniprotByChemblIdDataSource">
  <ng-container matColumnDef="uniprot_chembl_id">
    <mat-header-cell *matHeaderCellDef>ChEMBL ID</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="https://www.ebi.ac.uk/chembl/target/inspect/{{row.uniprot_chembl_id}}">
        <button mat-button color="primary">{{row.uniprot_chembl_id}}</button>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entry">
    <mat-header-cell *matHeaderCellDef>Entry</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a href="http://www.uniprot.org/uniprot/{{row.entry}}">
        <button mat-button color="primary">{{row.entry}}</button>
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entryname">
    <mat-header-cell *matHeaderCellDef>Entryname</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.entryname}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="uniprot_type">
    <mat-header-cell *matHeaderCellDef>Target Type</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.uniprot_type}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="uniprot_descriptor">
    <mat-header-cell *matHeaderCellDef>Target Description</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.uniprot_descriptor}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="kegg_name">
    <mat-header-cell *matHeaderCellDef>KEGG</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <a [href]="row.kegg_url"><button mat-button color="primary">{{row.kegg_name}}</button></a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="uniprot_all_pathway">
    <mat-header-cell *matHeaderCellDef>All Pathway</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goUniprotAllPathwayByUid(row.id)">view</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="compounds">
    <mat-header-cell *matHeaderCellDef>Compounds</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="goCompoundByUid(row.id)">{{row.compounds.length}}</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [length]="pageMeta?.total_results"
               [pageSize]="pageMeta?.per_page"
               (page)="pageChange($event)"
></mat-paginator>
