<!--toolbar-->
<mat-toolbar color="primary">
  <span class="sidenav-toggle">
    <button mat-mini-fab (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span>GLAUCOMA</span>
</mat-toolbar>

<!--Progress Bar-->
<mat-progress-bar *ngIf="loadingStatus"
                 mode="query"
                 color="accent"
                 class="global-progress-bar"
></mat-progress-bar>

<!--Side Panel-->
<mat-sidenav-container class="sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <mat-tab-group>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>search</mat-icon>
            Search
          </ng-template>

        <mat-accordion class="headers-align">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Keyword Search
              </mat-panel-title>
              <mat-panel-description>
                Search drug for Glaucoma treatment by drug name
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-keyword-search></app-keyword-search>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Structure search
              </mat-panel-title>
              <mat-panel-description>
                Search molecules or predict target by drawing molecular structure.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-structure-search></app-structure-search>

          </mat-expansion-panel>
        </mat-accordion>
        </mat-tab>

        <!--Browse-->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>import_contacts</mat-icon>
            Browse
          </ng-template>

          <mat-accordion class="headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Database Browse
                </mat-panel-title>
                <mat-panel-description>
                  Browse compounds/drugs/targets
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-database-browse></app-database-browse>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>

      </mat-tab-group>
    </div>
  </mat-sidenav>

  <div class="scrolling-content">
    <!--Result entity list or entity detail-->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
