<app-jsme [elementId]="'jsme-demo-id'"
          #applet
          [width]="400" [height]="300"
          [showDemo]="true"
>loading JSME widget
</app-jsme>
<br/>
<form #structureSearchForm (ngSubmit)="submit(applet.smiles)">
  <mat-form-field>
    <mat-select placeholder="search type" [(ngModel)]="selectedStructureType" name="structureSearchType">
      <mat-option *ngFor="let searchTypeEl of structureSearchTypeList" [value]="searchTypeEl.value">
        {{searchTypeEl.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--<mat-form-field>-->
    <!--<input mdInput [placeholder]="getSearchTypePlaceholder()" disabled>-->
  <!--</mat-form-field>-->

  <mat-form-field>
    <mat-select placeholder="similarity value" [(ngModel)]="selectedSimilarityValue" name="similarityValue" [disabled]="selectedStructureType==='substructure'">
      <mat-option *ngFor="let similarity of similarityValueList" [value]="similarity">
        {{similarity}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button  type="submit" color="primary" [disabled]="structureSearchForm.invalid">Fetch Compounds</button>

</form>

<!--todo modify styles-->
<hr/>
<p>Prediction of molecular similarity target</p>
<button mat-raised-button type="submit" color="primary" (click)="goTargetPredictionBySmiles(applet.smiles)">Target Prediction</button>

