<app-jsme [elementId]="'jsme-demo-id'"
          #applet
          [width]="400" [height]="300"
          [showDemo]="true"
>loading JSME widget
</app-jsme>

<form #structureSearchForm (ngSubmit)="submit(applet.smiles)">
  <md-select placeholder="search type" [(ngModel)]="selectedType" name="structureSearchType">
    <md-option *ngFor="let searchTypeEl of structureSearchTypeList" [value]="searchTypeEl.value">
      {{searchTypeEl.viewValue}}
    </md-option>
  </md-select>
  <md-form-field>
    <input mdInput [placeholder]="getSearchTypePlaceholder()" [(ngModel)]="structureSearch" disabled name="structureSearch">
  </md-form-field>
  <button md-button  type="submit" color="primary" [disabled]="structureSearchForm.invalid">Submit</button>

</form>



