<div *ngIf="isEmpty">
  <h5 class="text-position">null</h5>
</div>

<!--uniprot-all-pathways table-->
<div *ngIf="!isEmpty">
  <h6>Pathway Infomation:</h6>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
      <th class="mdl-data-table_cell--non-numberic">Pathway Name</th>
      <th class="mdl-data-table_cell--non-numberic">Pathway Type</th>
    </tr>
    <tr *ngFor="let pathway of uniprotAllPathways">

      <td>
        <a [href]="pathway.pathway_url">
          <button class="mdl-button mdl-js-button mdl-button--primary">{{pathway.pathway_name}}</button>
        </a>
      </td>
      <td>{{pathway.pathway_type}}</td>
    </tr>
  </table>
</div>


