<!--<mat-list>-->
  <!--<mat-list-item *ngFor="let dataTypeEl of dataTypeList">-->
    <!--<button mat-button color="primary">{{dataTypeEl.viewValue}}</button>-->
  <!--</mat-list-item>-->
<!--</mat-list>-->
<br>
<mat-list >
  <mat-divider></mat-divider>
  <mat-list-item>
    <a matLine routerLink="/compound-list" routerLinkActive="active">
      <button mat-button color="primary">Compounds</button>
    </a>
    <small matLine>compounds targeting glaucoma related proteins</small>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a matLine routerLink="/uniprot-list" routerLinkActive="active">
      <button mat-button color="primary">Targets</button>
     </a>
    <small matLine>proteins related to glaucoma</small>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a matLine routerLink="/product-list" routerLinkActive="active">
      <button mat-button color="primary">Drugs</button>
      </a>
    <small matLine>drugs for glaucoma treatment</small>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>


<!--<table class="matl-data-table matl-shadow&#45;&#45;2dp" >-->
  <!--<tr>-->
    <!--<th>Data Type</th>-->
    <!--<th>Detail Infomation</th>-->
  <!--</tr>-->

  <!--<tr *ngFor="let dataTypeEl of dataTypeList">-->
    <!--<td>-->
      <!--<button class="matl-button mat-js-button mat-button&#45;&#45;raised">{{dataTypeEl.viewValue}}</button>-->
    <!--</td>-->
    <!--<td>{{dataTypeEl.placeholder}}</td>-->
    <!--</tr>-->
<!--</table>-->

<!--<br>-->
<!--<button mat-raised-button color="primary" *ngFor="let dataTypeEl of dataTypeList">{{dataTypeEl.viewValue}}</button>-->




<!--<form #databaseBrowseForm="ngForm" (ngSubmit)="submit()">-->
  <!--<mat-select placeholder="browse type" [(ngModel)]="selectedType" name="databaseBrowseType">-->
    <!--<mat-option *ngFor="let dataTypeEl of dataTypeList" [value]="dataTypeEl.value">-->
      <!--{{dataTypeEl.viewValue}}-->
    <!--</mat-option>-->
  <!--</mat-select>-->
  <!--<mat-form-field>-->
    <!--<input matInput [placeholder]="getDataTypePlaceholder()" [(ngModel)]="dataType" disabled name="dataType">-->
  <!--</mat-form-field>-->
  <!--<button mat-raised-button type="submit" color="primary" [disabled]="databaseBrowseForm.invalid">Submit</button>-->
<!--</form>-->
